<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.27</Version>
    <MinVersion>2021.11.1</MinVersion>
    <Options>Common:0:0</Options>
    <pubDate>Tue, 3 Feb 2026 00:00:00 GMT</pubDate>
    <Level>2</Level>
    <Creator>HongKong3</Creator>
    <URL>https://github.com/hongkong3/TablacusExplorer-Workbench/</URL>
    <License>CC0 License</License>
  </General>
  <en>
    <Name>User import</Name>
    <Description>Import user's Script and Css files</Description>
  </en>
  <ja>
    <Name>ユーザーインポート</Name>
    <Description>TEウィンドウ生成時に指定ファイルを埋め込みます。</Description>
  </ja>
</TablacusExplorer>
