<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.06</Version>
    <MinVersion>2023.9.13</MinVersion>
    <pubDate>Wen, 28 Jan 2026 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>HongKong3</Creator>
    <URL>https://github.com/hongkong3/TablacusExplorer-Workbench/</URL>
    <License>CC0 License</License>
  </General>
  <en>
    <Name>Choose Icon dialog fix</Name>
  </en>
  <ja>
    <Name>アイコン選択ダイアログ-改</Name>
    <Description>「アイコン選択ダイアログ」のUI改修。</Description>
  </ja>
</TablacusExplorer>
